<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="timecrunch" ng-controller="DashCtrl">
    <div class="nav row">
      <div class="col-md-1"></div>
      <div class="col-md-5"><h1><%= title %></h1></div>
      <div class="col-md-1"><a href="/">Home</a></div>
      <div class="col-md-1"><a href="/food">Food</a></div>
      <div class="col-md-1"><a href="/recipes">Recipes</a></div>
    </div>
  </body>
</html>
