<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="timecrunch">
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <div class="col-md-1"></div>
      <ul class="nav navbar-nav">
        <li><h1><%= title %></h1></li>
        <li><a href="" ng-click="home()">Home</a></li>
        <li><a href="" ng-click="food()">Food</a></li>
        <li><a href="" ng-click="recipes()">Recipes</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <ui-view></ui-view>
      </div>
    </div>

    <!-- Template for home/dashboard -->
    <script type="text/ng-template" id="/home.html">
      <div class="row">
        Dashboard
      </div>
    </script>

    <!-- Template for food -->
    <script type="text/ng-template" id="/food.html">
      <div class="row">
        <div class="row">
          <div class="col-md-2 sidebar">
            <p><a href="#">Delete Selected</a></p>
          </div>
          <div class="col-md-9">
            <div class="row addfood">
              <form ng-submit="#">
                <label>Name: </label>
                <input type="text" placeholder="Lettuce" ng-model="name"/>
                <label>Sell By: </label>
                <input type="date" placeholder="YYYY-MM-DD" ng-model="sellBy"/>
                <label>Quantity/Weight(lbs): </label>
                <input type="number" placeholder="1" ng-model="amount"/>
                <label>Category: </label>
                <input type="text" placeholder="Vegetables" ng-model="category"/>

                <button type="submit" class="btn btn-primary">Add Food</button>
              </form>
            </div>
            <div class="row foodlist">
              Food list
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- Template for recipes -->
    <script type="text/ng-template" id="/recipes.html">
      <div class="row">
        <div class="col-md-2 sidebar">
          <p><a href="#">Add New Recipe</a></p>
          <p><a href="#">Delete Selected</a></p>
        </div>
        <div class="col-md-9 offset-md-1 recipelist">
          Recipe list
        </div>
      </div>
    </script>
  </body>
</html>
