<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="timecrunch">
    <div class="container-fluid">
      <nav class="navbar" ng-controller="NavCtrl">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><b>time crunch</b></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="food">Food</a></li>
          <li><a ui-sref="recipes">Recipes</a></li>
          <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="home" ng-click="logOut()">Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a ui-sref="login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a ui-sref="register">Register</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <ui-view></ui-view>
        </div>
      </div>

      <!-- Template for home/dashboard -->
      <script type="text/ng-template" id="/home.html">
        <div class="row">
          Dashboard
        </div>
      </script>

      <!-- Template for food list -->
      <script type="text/ng-template" id="/food.html">
        <div class="row">
          <div class="row">
            <div class="col-md-2 sidebar">
              <p><a href="#">Delete Selected</a></p>
            </div>
            <div class="col-md-9">
              <div class="row addfood">
                <form ng-submit="addFood();">
                  <label>Name: </label>
                  <input type="text" placeholder="Lettuce" ng-model="name"/>
                  <label>Sell By: </label>
                  <input type="date" placeholder="YYYY-MM-DD" ng-model="sellBy" size="10"/>
                  <label>Quantity: </label>
                  <input type="number" placeholder="1" ng-model="amount" min="0" step="any"/>
                  <label>Unit: </label>
                  <input type="text" placeholder="g" ng-model="units" size="3">
                  <label>Category: </label>
                  <select ng-model="category" ng-options="opt for opt in categories">
                    <option value="">None</option>
                  </select>

                  <button type="submit" class="btn btn-primary">Add Food</button>    
                </form>
              </div>
              <div class="row">
                <div class="col-md-offset-9 col-md-3">
                  <label>Filter Category: </label>
                  <select ng-model="filterCat" ng-options="cat for cat in categories">
                    <option value="">None</option>
                  </select>
                </div>
              </div>
              <div class="row title-row">
                <div class="col-md-3 col-md-offset-1" ng-click="sortBy='name'"><b>Name</b></div>
                <div class="col-md-2" ng-click="sortBy='sellBy'"><b>Sell By Date</b></div>
                <div class="col-md-1" ng-click="sortBy='amount'"><b>Quantity</b></div>
                <div class="col-md-1"><b>Units</b></div>
                <div class="col-md-3 col-md-offset-1" ng-click="sortBy='category'"><b>Category</b></div>
              </div>
              <div ng-repeat="food in foods | filter: filter() | orderBy: sortBy">
                <div class="row food">
                  <div class="col-md-1">
                    <button class="btn-danger btn-xs" ng-click="removeFood(food)">Delete</button>
                  </div>
                  <div class="col-md-3"><b>{{food.name}}</b></div>
                  <div class="col-md-2" ng-bind="food.sellBy | date: 'MM/dd/yyyy'"></div>
                  <div class="col-md-1">{{food.amount}}</div>
                  <div class="col-md-1">{{food.units}}</div>
                  <div class="col-md-3 col-md-offset-1">{{food.category}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </script>

      <!-- Template for recipe list -->
      <script type="text/ng-template" id="/recipes.html">
        <div class="row">
          <div class="col-md-2 sidebar">
            <div class="row">
              <p ng-show="isLoggedIn()"><a ui-sref="recipeform">Add New Recipe</a></p>
            </div>
            <div class="row">
              <p><a href="#">Delete Selected</a></p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row title-row">
              <div class="col-md-3 col-md-offset-1" ng-click="sortBy='name'"><b>Name</b></div>
              <div class="col-md-2" ng-click="sortBy='prepTime'"><b>Prep Time</b></div>
              <div class="col-md-3"><b>Instructions</b></div>
            </div>
            <div ng-repeat="recipe in recipes | orderBy: sortBy">
              <div class="row recipe">
                <div class="col-md-1">
                  <button class="btn-danger btn-xs" ng-click="removeRecipe(recipe);">Delete</button>
                </div>
                <div class="col-md-3">
                  <a ui-sref="recipe({id: recipe._id})"><b>{{recipe.name}}</b></a>
                </div>
                <div class="col-md-2">{{recipe.prepTime}}</div>
                <div class="col-md-3">{{recipe.instructions}}</div>
              </div>
            </div>
          </div>
        </div>
      </script>

      <!--  Template for add recipe form -->
      <script type="text/ng-template" id="/recipeform.html">
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

        <div ng-hide="isLoggedIn()">
            <h3>You need to <a ui-sref="login">Log In</a> or <a ui-sref="register">Register</a> before you can add a post.</h3>
        </div>

        <div class="row addrecipe">
          <form ng-show="isLoggedIn()" ng-submit="addRecipe();">
            <div class="row">
              <div class="col-md-3">
                <label><p>Name: </p></label>
              </div>
              <div class="col-md-9">
                <input type="text" placeholder="Pizza" ng-model="name"/>
              </div>
            </div>
            <div ng-repeat="ingredient in ingredients">
              <div class="row ingredient">
                <div class="col-md-2 col-md-offset-3">
                  {{ingredient}}
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn-danger btn-xs" ng-click="removeIngredient(ingredient);">Remove</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label><p>Ingredients: </p></label>
              </div>
              <div class="col-md-2">
                <input type="text" placeholder="Cumin" ng-model="ing_name"/>
              </div>
              <div class="col-md-2">
                <label>Amount: </label>
                <input type="number" placeholder="1.5" step="any" min="0" ng-model="ing_amount"/>
              </div>
              <div class="col-md-2">
                <label>Units: </label>
                <input type="text" placeholder="g" size="4" ng-model="ing_unit"/>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-xs btn-primary" ng-click="addIngredient();">Add Ingredient</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label><p>Preparation Time (minutes): </p></label>
              </div>
              <div class="col-md-9">
                <input type="number" placeholder="30" ng-model="prepTime" min="1"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label><p>Instructions (link to website): </p></label>
              </div>
              <div class="col-md-9">
                <input type="url" placeholder="http://www.food.com/" ng-model="instructions"/>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <a ui-sref="recipes">Back</a>
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Add Recipe</button>
              </div>  
            </div>  
          </form>
        </div>
      </script>

      <!-- Template for recipe details page -->
      <script type="text/ng-template" id="/recipe.html">
        <h2>{{recipe.name}}</h2>
        <h4 ng-show="recipe.author">By: {{recipe.author}}</h4>
        <p><b>Time:</b> {{recipe.prepTime}}</p>
        <p><b>Ingredients:</b></p>
        <div ng-repeat="ingredient in recipe.ingredients">
          <p>{{ingredient}}</p>
        </div>
        <p><b>More info:</b> <a href="{{recipe.instructions}}">{{recipe.instructions}}</a></p>
      </script>

      <!-- Template for user registration page -->
      <script type="text/ng-template" id="/register.html">
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>

        <form ng-submit="register()" style="margin-top:30px;">
            <h3>Register</h3>
            <div class="row">
              <div class="form-group col-md-4">
                  <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                  <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </script>

      <!-- Template for login page -->
      <script type="text/ng-template" id="/login.html">
        <div ng-show="error" class="alert alert-danger row">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit="logIn()" style="margin-top:30px;">
          <h3>Log In</h3>

          <div class="row">
            <div class="form-group col-md-4">
              <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </script>
    </div>
  </body>
</html>
