<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="timecrunch">
    <div class="container-fluid">
      <nav class="navbar" ng-controller="NavCtrl">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><b>time crunch</b></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="food">Food</a></li>
          <li><a ui-sref="recipes">Recipes</a></li>
          <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="home" ng-click="logOut()">Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a ui-sref="login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a ui-sref="register">Register</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <ui-view></ui-view>
        </div>
      </div>

      <!-- Template for home/dashboard -->
      <script type="text/ng-template" id="/home.html">
        <div class="row">
          Dashboard
        </div>
      </script>

      <!-- Template for recipe list -->
      <script type="text/ng-template" id="/recipes.html">
        <div class="row">
          <div class="col-md-2 sidebar">
            <div class="row">
              <p ng-show="isLoggedIn()"><a ui-sref="recipeform">Add New Recipe</a></p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row title-row">
              <div class="col-md-3" ng-click="sortBy='name'"><b>Name</b></div>
              <div class="col-md-2" ng-click="sortBy='prepTime'"><b>Prep Time</b></div>
              <div class="col-md-5"><b>Instructions</b></div>
            </div>
            <div ng-repeat="recipe in recipes | orderBy: sortBy">
              <div class="row recipe">
                <div class="col-md-3">
                  <a ui-sref="recipe({id: recipe._id})"><b>{{recipe.name}}</b></a>
                </div>
                <div class="col-md-2">{{recipe.prepTime}}</div>
                <div class="col-md-5">{{recipe.instructions}}</div>
              </div>
            </div>
          </div>
        </div>
      </script>

      <!-- Template for recipe details page -->
      <script type="text/ng-template" id="/recipe.html">
        <h2>{{recipe.name}}</h2>
        <h4 ng-show="recipe.author">By: {{recipe.author}}</h4>
        <p><b>Time:</b> {{recipe.prepTime}}</p>
        <p><b>Ingredients:</b></p>
        <div ng-repeat="ingredient in recipe.ingredients">
          <p>{{ingredient}}</p>
        </div>
        <p ng-show="recipe.instructions"><b>Instructions:</b> {{recipe.instructions}}</p>

        <p ng-show="recipe.link"><b>More info:</b> <a href="{{recipe.link}}">{{recipe.link}}</a></p>

        <button class="btn-danger btn-xs" ng-show="canEdit();" ng-click="deleteRecipe();">Delete</button>
      </script>
    </div>
  </body>
</html>
