<!-- Template for login page -->

<!-- Show error message if something goes wrong with logging in -->
<div ng-show="error" class="alert alert-danger row">
  <span>{{ error.message }}</span>
</div>

<form ng-submit="logIn()" style="margin-top:30px;">
  <h3>Log In</h3>

<!--   Username input -->
  <div class="row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
    </div>
  </div>

<!--   Password input -->
  <div class="row">
    <div class="form-group col-md-4">
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
    </div>
  </div>

<!--   Submit button -->
  <button type="submit" class="btn btn-primary">Log In</button>
</form>