<!--  Template for add recipe form -->
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>

<div class="row addrecipe">
  <form ng-show="canEdit()" ng-submit="editRecipe()">
    <div class="form-group row">
      <label for="food-name" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-3">
        <input class="form-control" type="text" ng-model="recipe.name" id="food-name"/>
      </div>
    </div>

    <div ng-repeat="ingredient in recipe.ingredients">
      <div class="row ingredient">
        <div class="col-md-2 col-md-offset-2">
          {{ingredient}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-danger btn-xs" ng-click="removeIngredient(ingredient);">Remove</button>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="ingredient-name-input" class="col-md-2 col-form-label">Ingredients:</label>
      <div class="col-md-2">
        <input class="form-control" type="text" placeholder="Cumin" ng-model="ing_name" id="ingredient-name-input"/>
      </div>
      <label for="ingredient-value-input" class="col-md-1 col-form-label">Amount:</label>
      <div class="col-md-1">
        <input class="form-control" type="number" placeholder="1.5" step="any" min="0" ng-model="ing_amount" id="ingredient-value-input"/>
      </div>
      <label for="ingredient-unit-input" class="col-md-1 col-form-label">Units:</label>
      <div class="col-md-1">
        <input class="form-control" type="text" placeholder="g" size="4" ng-model="ing_unit" id="ingredient-unit-input"/>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-s btn-primary" ng-click="addIngredient();">Add Ingredient</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="prep-time" class="col-md-2 col-form-label">Preparation Time (minutes):</label>
      <div class="col-md-2">
        <input class="form-control" type="number" ng-model="recipe.prepTime" min="1" id="prep-time"/>
      </div>
    </div>

    <div class="row instructions">
      <div class="col-md-3">
        <input type="checkbox" ng-model="recipeLink"/><b> Link to Instructions</b>
      </div>
    </div>

    <div class="form-group row" ng-hide="recipeLink">
      <label for="instructions" class="col-md-2 col-form-label">Instructions:</label>
      <div class="col-md-4">
        <textarea class="form-control" ng-model="recipe.instructions" cols="50" rows="10" id="instructions"></textarea>
      </div>
    </div>

    <div class="row" ng-show="recipeLink">
      <label for="link" class="col-md-2 col-form-label">Link:</label>
      <div class="col-md-3">
        <input class="form-control" type="url" placeholder="http://www.food.com/" ng-model="recipe.link" id="link"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <a ui-sref="recipe({id: recipe._id})">Back</a>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary">Save Edit</button>
      </div>  
    </div>  
  </form>
</div>