<!--  Template for add recipe form -->
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>

<div class="row addrecipe">
  <form ng-show="canEdit()" ng-submit="editRecipe();">
    <div class="row">
      <div class="col-md-3">
        <label><p>Name: </p></label>
      </div>
      <div class="col-md-9">
        <input type="text" ng-model="recipe.name"/>
      </div>
    </div>
    <div ng-repeat="ingredient in recipe.ingredients">
      <div class="row ingredient">
        <div class="col-md-2 col-md-offset-3">
          {{ingredient}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-danger btn-xs" ng-click="removeIngredient(ingredient);">Remove</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label><p>Ingredients: </p></label>
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Cumin" ng-model="ing_name"/>
      </div>
      <div class="col-md-2">
        <label>Amount: </label>
        <input type="number" placeholder="1.5" step="any" min="0" ng-model="ing_amount"/>
      </div>
      <div class="col-md-2">
        <label>Units: </label>
        <input type="text" placeholder="g" size="4" ng-model="ing_unit"/>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-xs btn-primary" ng-click="addIngredient();">Add Ingredient</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label><p>Preparation Time (minutes): </p></label>
      </div>
      <div class="col-md-9">
        <input type="number" ng-model="recipe.prepTime" min="1"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <input type="checkbox" ng-model="recipeLink"/><b> Link to Instructions</b>
      </div>
    </div>
    <div class="row" ng-hide="recipeLink">
      <div class="col-md-3">
        <label><p>Instructions: </p></label>
      </div>
      <div class="col-md-9">
        <textarea ng-model="recipe.instructions" cols="50" rows="10"></textarea>
      </div>
    </div>
    <div class="row" ng-show="recipeLink">
      <div class="col-md-3">
        <label><p>Link: </p></label>
      </div>
      <div class="col-md-9">
        <input type="url" ng-model="recipe.link"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <a ui-sref="recipe({id: recipe._id})">Back</a>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary">Save Edit</button>
      </div>  
    </div>  
  </form>
</div>