<!-- Template for recipe list -->
<div class="row">
  <!-- Side bar links -->
  <div class="col-md-2 sidebar">
    <div class="row">
      <p ng-show="isLoggedIn()"><a ui-sref="recipeform">Add New Recipe</a></p>
    </div>
  </div>

  <!-- Recipe list -->
  <div class="col-md-9">
    <!-- Column titles -->
    <div class="row title-row">
      <div class="col-md-1" ng-click="sortBy='-score'"><b>Score</b></div>
      <div class="col-md-3" ng-click="sortBy='name'"><b>Name</b></div>
      <div class="col-md-2" ng-click="sortBy='prepTime'"><b>Prep Time</b></div>
      <div class="col-md-5"><b>Instructions</b></div>
    </div>
    <!-- Recipes -->
    <div ng-repeat="recipe in recipes | orderBy: sortBy">
      <div class="row recipe">
        <div class="col-md-1">
          <font class="score">{{recipe.score}}</font>
        </div>
        <div class="col-md-3">
          <a ui-sref="recipe({id: recipe._id})"><b>{{recipe.name}}</b></a>
        </div>
        <div class="col-md-2">{{recipe.prepTime}}</div>
        <div class="col-md-5">{{recipe.instructions}}</div>
      </div>
    </div>
  </div>
</div>