<!--  Template for add recipe form -->
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
</div>

<div ng-hide="isLoggedIn()">
    <h3>You need to <a ui-sref="login">Log In</a> or <a ui-sref="register">Register</a> before you can add a recipe.</h3>
</div>

<div class="row addrecipe">
  <form ng-show="isLoggedIn()" ng-submit="addRecipe();">
    <div class="form-group row">
      <label for="food-name-input" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Pizza" ng-model="name" id="food-name-input"/>
      </div>
    </div>

    <div ng-repeat="ingredient in ingredients">
      <div class="row ingredient">
        <div class="col-md-2 col-md-offset-2">
          {{ingredient}}
        </div>
        <div class="col-md-1">
          <button type="button" class="btn-danger btn-xs" ng-click="removeIngredient(ingredient);">Remove</button>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="ingredient-name-input" class="col-md-2 col-form-label">Ingredients:</label>
      <div class="col-md-2">
        <input class="form-control" type="text" placeholder="Cumin" ng-model="ing_name" id="ingredient-name-input"/>
      </div>
      <label for="ingredient-value-input" class="col-md-1 col-form-label">Amount:</label>
      <div class="col-md-1">
        <input class="form-control" type="number" placeholder="1.5" step="any" min="0" ng-model="ing_amount" id="ingredient-value-input"/>
      </div>
      <label for="ingredient-unit-input" class="col-md-1 col-form-label">Units:</label>
      <div class="col-md-1">
        <input class="form-control" type="text" placeholder="g" size="4" ng-model="ing_unit" id="ingredient-unit-input"/>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-s btn-primary" ng-click="addIngredient();">Add Ingredient</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="prep-time-input" class="col-md-2 col-form-label">Preparation Time (minutes):</label>
      <div class="col-md-2">
        <input class="form-control" type="number" placeholder="30" ng-model="prepTime" min="1" id="prep-time-input"/>
      </div>
    </div>

    <div class="row instructions">
      <div class="col-md-3">
        <input type="checkbox" ng-model="recipeLink"/><b> Link to Instructions</b>
      </div>
    </div>

    <div class="form-group row" ng-hide="recipeLink">
      <label for="instructions-input" class="col-md-2 col-form-label">Instructions:</label>
      <div class="col-md-4">
        <textarea class="form-control" ng-model="instructions" cols="50" rows="10" id="instructions-input"></textarea>
      </div>
    </div>
    <div class="row" ng-show="recipeLink">
      <div class="col-md-3">
        <label><p>Link: </p></label>
      </div>
      <div class="col-md-9">
        <input type="url" placeholder="http://www.food.com/" ng-model="link"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <a ui-sref="recipes">Back</a>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary">Add Recipe</button>
      </div>  
    </div>  
  </form>
</div>