html, body, .container-fluid {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #000066;
}

.navbar-nav, .navbar-nav a, .navbar-header a, .navbar-header a:hover {
  color: white;
}

.addfood {
  padding-bottom: 5px;
}

.ingredient {
  padding-bottom: 5px;
}

.food, .recipe {
  background-color: #ffffff;
  border-bottom: thin solid;
  margin-bottom: 2px;
}

.food:hover, .recipe:hover {
  background-color: #000066;
  color: white;
}