html, body, .container-fluid {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

input[type=number] {
    width: 60px;
}

.addfood, .ingredient, .instructions, .title-row {
  padding-bottom: 5px;
}

.separator {
  width: 8px;
  height: auto;
  display: inline-block;
}

.score {
  color: #b0b0b0;
  font-weight: bold;
  font-size: 115%;
}

.voted {
  color: #4292f4;
  font-weight: bold;
  font-size: 115%;
}

.food, .food-edit, .recipe {
  background-color: #ffffff;
  border-bottom: thin solid;
  margin-bottom: 2px;
}

.food:hover, .recipe:hover, .recipe:hover a {
  background-color: #000066;
  color: white;
}

.recipe a {
  color: black;  
}

.navbar {
  background-color: #000066;
}

.navbar-nav, .navbar-nav a, .navbar-header a, .navbar-header a:hover {
  color: white;
}