body {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addfood {
  padding-bottom: 5px;
}

.ingredient {
  padding-bottom: 5px;
}

.even {
  background-color: #ABEBC6;
}

.odd {
  background-color: #D5F5E3;
}

.even:hover, .odd:hover {
  background-color: #589D76;
  color: white;
}